*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
    height: 100vh;
}

.header {
display: flex;
align-items: center;
justify-content: center;
}

.header-logo {
    height: 7em;
}

.header-text {
    font-size: 5em;
}

.main {
    display: grid;
    grid-template: 1fr 1fr 5fr / 1fr;
}

.controls {
    display: grid;
    grid-template: 1fr /5fr 1fr 1fr 5fr;
    margin-bottom: 0px;
    align-items: center;
}

.controls > button {
    height: 3rem;
    width: 7rem;
    background-color: #8fc1ff;
    border-radius: 15px;
    border: none;
    font-size: 0.9rem;
    margin-right: 10px;
}

.controls > button:hover {
    cursor: pointer;
    background-color: #a236ff;
    color: #fff;
}

.controls > button:active {
    background-color: #2b6aff;
    color: #fff;
}

.information{
    background-color: #2b6aff;
    height: fit-content;
    padding: 15px;
}

.description {
    font-size: 1.1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

/*Display start*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(150px, 200px));
    gap: 20px;
    padding: 20px;
}
.card {
    background-color: #a236ff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    overflow: scroll;
}
.cardTitle{
    font-weight: 600;
    font-size: 1.35em;
    margin-bottom: 10px;
    text-align: justify;
}
.cardAuthor{
    font-style: italic;
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 5px;
}
.cardPages{
    text-align: end;
    margin-bottom: 15px;
}
/*Toggle switch start*/
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #3182dd;
    transition: .4s;
}
input:checked + .slider {
    background-color: #ffffff;
}
input:focus + .slider {
    box-shadow: 0 0 1px #9cc59173;
}
input:checked + .slider:before {
    transform: translateX(20px);
}
.checkbox{
    background-color: #8fc1ff;
}
/*Toggle switch end*/
/*Display end*/

/*Popup start*/
.popup-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 5%);
}

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 2px #a236ff;
}

.form-container input[type='text'],
.form-container input[type='tel'] {
    width: 100%;
    padding: 10px;
    border: none;
    background:#a136ff25;
    border-radius: 5px;
}

.close {
    position: relative;
    text-align: end;
    top: 30px;
    right: 10px;
}

/*Popup end*/