*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --main-color: #2b6aff;
    --positive-color: #73dba0;
    --contrast-color1: #a236ff;
    --contrast-color2: #ff22b9;
    --light-color: #8fc1ff;
}

html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    height: 7em;
}

.header-text {
    font-size: 5em;
    background-image: linear-gradient(90deg, var(--contrast-color1), var(--contrast-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    display: grid;
    grid-template: 1fr 1fr 6fr / 1fr;

}
.buttons-controls{
    display: flex;
    justify-content: center;
    width: max(400px, 25%);
    margin-inline: auto;
    margin-bottom: 15px;
}

.controls {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

.controls > button {
    height: 3rem;
    width: 7rem;
    background-color: #8fc1ff;
    border-radius: 15px;
    border: none;
    font-size: 0.9rem;
    margin-right: 0px;
}

.controls > button:hover {
    cursor: pointer;
    background-color: #a236ff;
    color: #fff;
}

.controls > button:active {
    background-color: #2b6aff;
    color: #fff;
}

.information{
    background-color: #2b6aff;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    font-size: 1.15em;
    width: 70%;
    text-align: center;
    margin-inline: auto;
    color: #fff;
}

/*Display start*/
.display {
    width: max(90vw, 350px);
    margin-inline: auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 325px));
    grid-template-rows: repeat(auto-fit, minmax(175px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/*Card start*/
.card, .cardRead {
    background-color: var(--contrast-color1);
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
}
.cardTitle{
    font-weight: 600;
    font-size: 1.35em;
    margin-bottom: 10px;
    text-align: center;
}
.cardAuthor{
    font-style: italic;
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
}
.cardPages{
    text-align: end;
    margin-bottom: 15px;
}
.rmBtn, .read {
    border: 1px solid white;
    background-color: var(--contrast-color1);
    color: #fff;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
}
.buttonContainer{
    display: flex;
    justify-content: space-evenly;
}
.rmBtn:hover {
    background-color: var(--contrast-color2);
}
.read:hover{
    background-color: var(--positive-color);
    color: var(--contrast-color1);
}
    /*Card color change*/
.cardRead{
    background-color: var(--positive-color);
    color: var(--contrast-color1);
}
/*Card end*/


/*Display end*/

/*Footer start*/
.footer{
    text-align: center;
    background-color: var(--light-color);
    color: var(--contrast-color1);
    padding: 5px 0;
    font-weight: 500;
}
.footer a {
    text-decoration: none;
}
/*Footer end*/

/*Popup start*/
.popup-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 5%);
}

.form-container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 3px var(--light-color);
}

.form-container input[type='text'],
.form-container input[type='tel'] {
    width: 100%;
    padding: 10px;
    border: none;
    background:#a136ff25;
    border-radius: 5px;
    margin-bottom: 10px;
}

.close {
    position: relative;
    text-align: end;
    top: 30px;
    right: 10px;
}

#pop-add {
    background-color: var(--contrast-color1);
    color: #fff;
    font-size: clamp(0.7rem, 1rem + 5px, 1.15rem);
    border-radius: 5px;
    border: none;
    padding: max(5px, 5%);
    cursor: pointer;
}

#pop-add:hover {
    background-color: var(--positive-color);
    color: var(--contrast-color1);
    font-weight: 600;
}
#pop-add:active {
    background-color: var(--main-color);
    color: #fff;
}

.closeBtn {
    background-color: transparent;
    border: none;
    font-size: clamp(0.75rem, 1rem + 5 px, 1.1rem);
    cursor: pointer;
}
/*Popup end*/